.navbar {
  background-color: #191919;
}

/* Styling af profile.jsx */

.profil-person {
  color: var(--main-color);
  font-size: 38px;
  font-weight: 600;
}

.profil-overskrift {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.boks-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.boks-container input {
  background-color: transparent;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input:focus {
  outline: none; /* Fjerner standard blå boks (outline) ved fokus */
}

.box {
  background-color: var(--main-color);
  color: black;
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  height: 115px;
  width: 115px;
}

.personlige-mål-overskrift {
  font-size: 12px;
  display: flex;
  justify-content: start;
  color: black;
}

.personlige-mål-kg {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 500;
}

.overskrift1 {
  font-size: 22px;
  padding-top: 15px;
  padding-left: 10px;
}

.ret-skrift {
  font-size: 8px;
  padding-left: 12px;
  margin-top: -10px;
  opacity: 50%;
  color: #a9a9a9;
}

.overskrift2 {
  font-size: 22px;
  padding-top: 20px;
  padding-left: 10px;
}

.aktivitetsniveau {
  display: flex;
  flex-direction: column;
}

.overskrift-container {
  display: flex;
  flex-direction: row;
}

.overskrift3 {
  padding-top: 32px;
  padding-left: 5px;
  font-size: 10px;
  color: white;
}

.overskrift4 {
  font-size: 22px;
  padding-top: 20px;
  padding-left: 10px;
}

.overskrift5 {
  font-size: 22px;
  padding-top: 20px;
  padding-left: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image-container p {
  color: white;
}

.image-container .image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.image-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Opretter 3 lige store kolonner */
  gap: 20px; /* Afstand mellem billederne */
  padding: 0;
}

.fremskridtsdokumentation {
  margin-top: 40px; /* Afstand fra toppen */
}

.upload-container {
  margin-top: 40px; /* Afstand under billederne */
}

/* Skjuler den oprindelige file input */
.file-input {
  display: none;
}

/* Tilpasset billede som knap */
.custom-file-button img {
  cursor: pointer; /* Gør det til en håndekursor */
  border-radius: 5px; /* Eventuelt rundede hjørner, hvis du vil */
  transition: transform 0.3s ease; /* Tilføj en overgang for en klik-animation */
  margin-left: 40px;
}

.custom-file-button img:hover {
  transform: scale(1.1); /* Zoom effekten på hover */
}

.billede-boks {
  display: flex;
  flex-direction: row;
  color: var(--main-color);
  align-items: center;
  gap: 15px;
  font-size: 22px;
  justify-content: start;
  margin-left: -15px;
}

.color-theme-boks {
  margin-top: 50px;
}

.show-all-btn {
  display: flex;
  justify-content: right;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Mindre fontstørrelse */
  margin-top: -21px;
}

.image-with-date p {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 5px;
}

.input-container {
  position: relative;
}

.personlige-mål-kg {
  padding-right: 30px; /* Giv plads til kg */
}

.kg-text {
  position: absolute;
  right: 10px; /* Juster placeringen af "kg" */
  top: 50%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none; /* Sørg for, at brugeren kan klikke på inputfeltet */
  font-size: 22px;
}


