.navbar {
  background-color: #191919;
}

.navbar-overskrift {
  color: var(--main-color);
}

/* Styling af profile.jsx */

.profil-person {
  color: var(--main-color);
}

.profil-overskrift {
  display: flex;
  align-items: center;
  justify-content: center;
}
