@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header: #191919;
  --background: #252627;
  --main-color: #bcf246;
  --secondary-color: #fe7500;
}

body {
  background: var(--background);
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}
