@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252627;
  --main-color: #BCF246;
}

body {
  background: var(--background);
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}
