/* Container */
.praesentation-container {
  font-family: Arial, sans-serif;
  background-color: #252627;
  color: rgb(0, 0, 0);
  padding: 20px;
}

/* Leaderboard Section */
.praesentation-leaderboard {
  margin-bottom: 40px;
}

/* Header med overskrift og dropdown */
.praesentation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.praesentation-title {
  color: var(--main-color);
  font-size: 2rem;
}

.praesentation-dropdown select {
  background-color: var(--main-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.praesentation-description {
  font-size: 0.9rem;
  color: #b3b3b3;
  text-align: center; /* Centrerer teksten */
  margin-top: 10px; /* Tilføjer lidt afstand til andre elementer */
  margin-bottom: 50px;
}

/* Leaderboard grid --------------------*/
.praesentation-leaderboard-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.praesentation-leaderboard-third,
.praesentation-leaderboard-second,
.praesentation-leaderboard-item {
  text-align: center;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  margin: 0 5px;
  color: black;
  border: 2px solid var(--secondary-color); /* Hvid outline */
}

/* Specifik styling for 2.- og 3.-pladsen */
.praesentation-leaderboard-second {
  background-color: var(--main-color); /* Lys grå baggrund */
  border: 2px solid var(--secondary-color); /* Mørkere grå outline */
}

.praesentation-leaderboard-third {
  background-color: var(--main-color); /* Mørkere grå baggrund */
  border: 2px solid var(--secondary-color); /* Lidt mørkere outline */
}

/* 1st place larger and higher */
.praesentation-leaderboard-first {
  transform: scale(1.2);
  z-index: 1;
  font-weight: bold;
}

.praesentation-score {
  font-size: 1.5rem;
  font-weight: bold;
}

.praesentation-rank {
  font-size: 1.2rem;
  margin-top: 5px;
}

/* Followers */
.praesentation-followers {
  margin-top: 20px;
  color: #b3b3b3;
}

.praesentation-privacy {
  display: block;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.praesentation-privacy input {
  margin-right: 10px;
}

.praesentation-performances {
  margin-top: 40px;
}

.praesentation-subtitle {
  color: var(--main-color);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Grid for præstationer */
.praesentation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolonner */
  gap: 20px; /* Afstand mellem kasser */
  align-items: center; /* Justerer kasserne i grid */
  perspective: 1000px; /* Perspektiv for at give 3D-effekt */
}

/* Base for hvert ikon */
.praesentation-icon {
  aspect-ratio: 1 / 1;
  background-color: var(--main-color);
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform 0.6s ease-in-out;
}

/* Wrapper for hvert ikon */
.praesentation-icon-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Sikrer, at containeren udfylder pladsen */
}

/* Corner circle */
.corner-circle {
  position: absolute;
  top: -15px; /* Juster placering efter behov */
  right: -15px; /* Juster placering efter behov */
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color); /* Orange */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: black; /* Sort farve til ikonet */
  font-weight: bold;
  z-index: 2; /* Sørger for, at den vises over andre elementer */
}

/* Flip-element */
.praesentation-icon {
  aspect-ratio: 1 / 1;
  background-color: var(--main-color);
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.praesentation-icon.flipped {
  transform: rotateY(180deg);
}

/* Flip-kortets sider */
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.front-side,
.back-side {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.flip-text {
  font-size: 22px;
  transform: scaleX(-1);
}

.front-side {
  transform: rotate(0deg);
}

.back-side {
  transform: rotateY(180deg);
}

.praesentation-icon.flipped .front-side {
  transform: rotateY(-180deg);
}

.praesentation-icon.flipped .back-side {
  transform: rotateY(0deg);
}
